@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Carattere', cursive;

    --color-primary-50: #fef2f2;
    --color-primary-100: #fee2e2;
    --color-primary-200: #fecaca;
    --color-primary-300: #fca5a5;
    --color-primary-400: #f87171;
    --color-primary-500: #ef4444;
    --color-primary-600: #dc2626;
    --color-primary-700: #b91c1c;
    --color-primary-800: #991b1b;
    --color-primary-900: #7f1d1d;
    --color-primary-950: #450a0a;

    --color-maroon-50: #fdf2f4;
    --color-maroon-100: #fce7ea;
    --color-maroon-200: #f9d0d8;
    --color-maroon-300: #f3a9b8;
    --color-maroon-400: #eb7a93;
    --color-maroon-500: #dd4d6f;
    --color-maroon-600: #c82d55;
    --color-maroon-700: #a92045;
    --color-maroon-800: #8d1e3d;
    --color-maroon-900: #6b1a31;
    --color-maroon-950: #3d0a19;
}

.font-display {
    font-family: var(--font-display);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
